.p-category-block {
  margin: 0.5rem 0 0.5rem 0;
  height: 11rem;
  border-left: 5px solid var(--color-yotsugi-hair);
}

.p-category-block:hover {
  border-left: 5px solid var(--color-yotsugi-hat);
}
