.p-privacy-policy-title {
  margin: 0;
  padding: 2rem 0 2rem 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.p-privacy-policy-title > .p-privacy-policy-title__content {
  font-size: 8vw;
  font-weight: 300;
  color: var(--color-yotsugi-hair);
}

/* 37.5rem = 3rem / 8%(vw) */
@media screen and (min-width: 37.5rem) {
  .p-privacy-policy-title > .p-privacy-policy-title__content {
    font-size: 3rem;
  }
}
